.banner--projects--page {
    width: 90%;
    margin-top: 1rem;
}

.project--page--container {
    display: flex;
    justify-content: center;
}

.project--thumbnail {
    width: 300px;
    border-radius: 10px;
    border: 2px solid goldenrod;
    height: 175px;
}

.project--card {
    width: 80%;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.background--image {
    background-image: url('../../assets-portfolio-qr/flappy4.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.project--decription {

    color: rgb(244, 189, 50)
}

.project--title {
    color: rgb(244, 189, 50);
    font-size: 3rem;
    margin-bottom: 0;
}

.link--button {
    margin-top: .3rem;
    width: 100%;
    background-color: rgb(244, 189, 50);
    height: 30px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video-player {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.next--projects--page {
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: .8rem;
}

.gallery-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.gallery {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.gallery img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}