.project--title {
    margin-top: 0;
}

.next--projects--page--wood {
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: .2rem;
}

.project--title--wood {
    color: rgb(244, 189, 50);
    font-size: 1.5rem;
    margin-bottom: .5rem;
}