@use "../../partials/global" as *;
@use "../../partials/variables" as *;
@use "../../partials/font" as *;
@use "../../partials/mixin" as *;


.background--img--non {
    background-image: url('../../assets-portfolio-qr/cloudsMOving.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    animation: moveBackground 60s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.profilePic {
    width: 40%;
    border-radius: 50%;
    border: 2px solid goldenrod;

    @include tablet {
        width: 10%;
    }
}

.profile--container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.landing-page-text {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typewriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    margin-top: 2rem;

    animation:
        typing 2.5s steps(40),
        blink-caret 1s step-end 0s,
        change-color 0.5s forwards 3s,
        hide-caret 0.1s forwards 0.5s;
}

.landing-page-text-name {
    color: rgb(244, 189, 50);
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;

    animation: change-color 0.5s forwards;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* Color change effect */
@keyframes change-color {
    from {
        color: whitesmoke;
    }

    to {
        color: rgb(234, 192, 85);
        border-color: transparent;
    }
}

.picText--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.landing-page-text--scroll {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typewriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    margin-top: 2rem;

    animation:
        typing 6.5s steps(40),
        blink-caret 1s step-end 0s,
        change-color 0.5s forwards 7s,
        hide-caret 0.1s forwards 0.5s;
}

.background--img--non,
.aboutMe {
    /* These are the children that will be snapped */
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
}